.card {
    width: 25%;
    height: 25vw;
    max-width: 25%;
    -webkit-box-shadow: 1px 0 0 0 #e8e8e8, 0 1px 0 0 #e8e8e8, 1px 1px 0 0 #e8e8e8, 1px 0 0 0 #e8e8e8 inset, 0 1px 0 0 #e8e8e8 inset;
    box-shadow: 1px 0 0 0 #e8e8e8, 0 1px 0 0 #e8e8e8, 1px 1px 0 0 #e8e8e8, 1px 0 0 0 #e8e8e8 inset, 0 1px 0 0 #e8e8e8 inset;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    .card { 
        width: 50%;
        height: 50vw;
        max-width: 50%;
    }   
}

.card:hover {
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.card img {
    max-width: 100%;
    max-height: 100%;
}