.menu-bar {
    position: relative;
    height: 22px;
    width: 25px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    z-index: 1000;

}
.menu-bar:after {
    position: absolute;
    content: '';
    top: calc(50% - 1px);
    left: 0;
    background-color: white;
    height: 2px;
    min-width: 100%;
}
.menu-bar:hover {
    cursor: pointer;
}