.editable-text {
    overflow: hidden;
    word-break: break-all;
}
.editable-text input {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

.editable-text input:focus {
    border: none;
    outline: none;
}