#login {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#login > input {
    margin: 2em;
    line-height: 1.5;
    padding: 1em;
    font-size: 1em;
    border: 0;
}

#login > input:focus,
#login > .btn-submit {
    border: 1px solid #3C3C3C;
}

#login > .btn-submit {
    margin: 2em;
    font-size: 1em;
    padding: 1em;
}
