#blog {
    width: 60%;
    margin: 0 auto;
}

@media screen and (max-width: 640px) {
    #blog {
        width: 80%;
    }
}

#blog .title {
    font-size: 1.2em;
    padding: 1em;
}

#blog #category-list {
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    background-color: #e8e8e8;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

#blog .category-item {
    font-size: 12px;
    line-height: 1.2;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-content: baseline;
    text-decoration: underline;
}
#blog .category-item:hover {
    cursor: pointer;
    color: #C0C0C0;
}


#blog .arts-in-year .year {
    padding: 5px;
}

#blog .arts-in-year .art-title {
    font-family: 'Courier New', Courier, monospace;
    text-align: start;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: grid;
    align-items: center;
    padding: 10px;
    transition: box-shadow .5s;
}

#blog .arts-in-year .art-title:hover {
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

#blog .arts-in-year .art-title .topic {
    padding: 5px 0;
    align-items: center;
    font-weight: 600; 
    font-style: oblique;
}
#blog .arts-in-year .art-title .text {
    font-size: 12px;
    padding: 5px 28px;
    border-top: 1px dashed #e8e8e8;
    font-weight: 200;
}

#blog .arts-in-year .art-title .date {
    padding: 5px 0;
    font-size: 12px;
    color: #C0C0C0;
    text-align: end;
    border-top: 1px dashed #e8e8e8;
}