.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
}

.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}

.padding-15 {
    padding: 15px;
}

.padding-20 {
    padding: 20px;
}
.padding-40 {
    padding: 40px;
}
.padding-50 {
    padding: 50px;
}

.margin-left-15 {
    margin-left: 15px;
}